<template>
    <layout-public>
        <el-form label-position="top" ref="ChangeePasswordForm" class="ProfileForm" v-show="IstokenSucces">
            <el-form-item label="Новый пароль" prop="password">
                <el-input  v-model="ChangeePasswordForm.password" name="password" auto-complete="off"  type="password"></el-input>
            </el-form-item>

            <el-form-item label="Повторите новый пароль" prop="confirm_password">
                <el-input v-model="ChangeePasswordForm.confirm_password" auto-complete="off"  name="confirm_password" type="password"></el-input>
            </el-form-item>
            <el-button type="primary" @click="submitForm('ChangeePasswordForm')">Отправить</el-button>
        </el-form>
    </layout-public>
</template>

<script>
import {EventBus} from '@app/bus'
import { mapActions, mapGetters, mapMutations } from 'vuex'
import { localStorageMixin } from '@app/mixins'

export default {
    name: 'AuthPasswordNew',
    mixins: [localStorageMixin],
    data () {
        return {
            ChangeePasswordForm: {
                password: "",
                confitm_password: "",
                token: this.$route.params.token 
            },
            IstokenSucces:false
        }
    },
    methods: {
        ...mapActions([
          'CHANGE_PASSWORD' , 'GET_TOKENS_PASSWORD'
        ]),

        submitForm(formName) {
            let self = this
            this.$refs[formName].validate((valid) => {
                if(valid){
                    this.CHANGE_PASSWORD(this.ChangeePasswordForm, this)
                        .then((response) =>{
                             this.$router.push({ name: 'auth.login'})
                        })
                } else{
                    this.$notify({
                        title: 'Ошибка',
                        message: 'Заполните все поля'
                    })
                }
            })
        }
    },
    created () {
        this.GET_TOKENS_PASSWORD({token: this.ChangeePasswordForm.token})
        .then((response, error) => {
            this.IstokenSucces=true
        }, (error) => {
        })
    }
}
</script>