<template>
    <layout-public>
        <el-form :model="RegisterForm" label-position="top"  :rules="rules2" ref="RegisterForm" label-width="120px">
            <el-form-item label="Ник" prop="username">
                <el-input v-model="RegisterForm.username" name="username"></el-input>
            </el-form-item>
            <el-form-item label="Email" prop="email">
                <el-input v-model="RegisterForm.email" name="email"></el-input>
            </el-form-item>
            <el-form-item label="Имя" prop="first_name">
                <el-input v-model="RegisterForm.first_name" name="first_name"></el-input>
            </el-form-item>
            <el-form-item label="Фамилия" prop="last_name">
                <el-input v-model="RegisterForm.last_name" name="last_name"></el-input>
            </el-form-item>
            <el-form-item label="Пароль" prop="password">
                <el-input v-model="RegisterForm.password" auto-complete="off" name="password" type="password"></el-input>
            </el-form-item>
            <el-form-item label="Повторите пароль" prop="confirm_password">
                <el-input v-model="RegisterForm.confirm_password" auto-complete="off" name="confirm_password" type="password"></el-input>
            </el-form-item>
            <el-button type="primary" @click="submitForm('RegisterForm')">Готово!</el-button>
          </el-form-item>
        </el-form>
    </layout-public>
</template>

<script>
import {EventBus} from '@app/bus'
import { mapActions, mapGetters } from 'vuex'
import { localStorageMixin, utilsMixin } from '@app/mixins'

export default {
    name: 'authRegister',
    mixins: [localStorageMixin, utilsMixin],
    data () {
        var validatePass = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('Введите пароль'));
            } else {
                if (this.RegisterForm.confirm_password !== '') {
                    this.$refs.RegisterForm.validateField('confirm_password');
                }
                callback();
            }
        };
        var validatePass2 = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('Повторите пароль'));
            } 
            else if (value !== this.RegisterForm.password) {
                callback(new Error('Пароли не совпадают!'));
            } else {
                callback();
            }
        };
        return {
            RegisterForm: {
                email: null,
                password: null,
                confirm_password: null,
                first_name: null,
                last_name: null,
                username: null
            },
            rules2: {
                email: [
                  {type: 'email', required: true, message: 'Укажите свой email', trigger: 'blur'}
                ],
                username: [
                  {required: true, message: 'Укажите ник', trigger: 'blur'}
                ],
                first_name: [
                  {required: true, message: 'Укажите имя', trigger: 'blur'}
                ],
                last_name: [
                  {required: true, message: 'Укажите фамилию', trigger: 'blur'}
                ],
                password: [
                  { validator: validatePass, trigger: 'blur' }
                ],
                confirm_password: [
                  { validator: validatePass2, trigger: 'blur' }
                ]
            }
        }
    },
    methods:{
        ...mapActions([
          'REGISTER_USER'
        ]),
        submitForm(formName) {
            this.$refs[formName].validate((valid) => {
                if(valid){
                    this.REGISTER_USER(this.RegisterForm).then((response, error) => 
                        {
                            this.$router.push({ name: 'main'})  
                        },
                        (error) => {
                            console.log(error.response.data)
                            this.errorResponseNotice(error.response.data)
                        }
                    )
                }else{
                    EventBus.$emit('global:snackbar', {
                        text: "Корректно заполните все поля",
                        context: "error"
                    })
                }
            })
        }
    }
}
</script>
