<template>
    <layout-public>
        <el-form :model="RestoreForm" :rules="rules" ref="RestoreForm" label-width="120px">
            <el-form-item label="Email">
                <el-input v-model="RestoreForm.email"></el-input>
            </el-form-item>
            <el-button type="primary" @click="submitForm('RestoreForm')">Отправить</el-button>
          </el-form-item>
        </el-form>
    </layout-public>
</template>

<script>
import {EventBus} from '@app/bus'
import { mapActions, mapGetters, mapMutations } from 'vuex'
import { localStorageMixin } from '@app/mixins'

export default {
    name: 'authPassword',
    computed: {
        ...mapGetters(['reset_time'])
    },
    data() {
        return {
            RestoreForm: {
              email: 'traxxxl@mail.ru'
            },
            rules: {
                email: [{
                    type: 'email', 
                    required: true, 
                    message: 'Укажите email который указали при регистрации', 
                    trigger: 'blur'
                }]
            }
        }
    },
    methods:{
        ...mapMutations({ setDate: 'SET_RESET_PASSWORD_TIME' }),
        ...mapActions([
          'RECOVER_PASSWORD_REQUEST'
        ]),
        checkResetTime() {
            let now = new Date().getTime()
            if(this.reset_time + 3000 < now){
                this.setDate({time: null})
                return null
            }else{
                this.setDate({time: now})
                return now
            }
        },
        submitForm(formName) {
            if(!this.checkResetTime() ){
                this.$refs[formName].validate((valid) => {
                    if(valid){
                        this.RECOVER_PASSWORD_REQUEST(this.RestoreForm)
                            .then((response, error) =>{
                                this.$router.push({ name: 'auth.login'})
                            }, (error) => {
                                this.$notify.error({
                                    title: 'Ошибка',
                                    message: 'Серверная ошибка',
                                    duration: 2000
                                })
                            })
                    } else{
                        this.$notify({
                            title: 'Ошибка',
                            message: 'Заполните все поля'
                        })
                    }
                })     
            }else{
                this.$notify.error({
                    title: 'Внимание',
                    message: 'Подождите немного...'
                })   
            }

        }
    }
}
</script>