<template>
    <layout-public>
        <el-form :model="loginForm" :rules="rules" ref="loginForm" label-width="120px">
            <el-form-item label="Email" prop="email">
                <el-input v-model="loginForm.email" name="email"></el-input>
            </el-form-item>
            <el-form-item label="Пароль" prop="password">
                <el-input v-model="loginForm.password" name="password" type="password"></el-input>
            </el-form-item>
            <el-button type="primary" @click="submitForm('loginForm')">Войти</el-button>
          </el-form-item>
        </el-form>
    </layout-public>
</template>

<script>
import {EventBus} from '@app/bus'
import { mapActions, mapGetters } from 'vuex'
import { localStorageMixin } from '@app/mixins'

export default {
    name: 'authLogin',
    mixins: [localStorageMixin],
    data() {
        return {
            loginForm: {
              email: '',
              password: ''
            },
            rules: {
                email: [
                    {type: 'email', required: true, message: 'Укажите email. Он же - логин', trigger: 'blur'},
                ],
                password: [
                    {required: true,  message: 'Введите пароль', trigger: 'blur'}
                ]
            }
        }
    },
    methods:{
        ...mapActions([
          'LOG_IN_USER'
        ]),
        submitForm(formName) {
            let self = this
            this.$refs[formName].validate((valid) => {
                if(valid){
                    const data = {
                        email: this.loginForm.email,
                        password: this.loginForm.password
                    }
                    this.LOG_IN_USER(data, this)
                        .then((response, error) =>{
                            location.reload(); // обновить HTTP
                            this.$router.push({ name: 'main'})
                        }, (error) => {
                            this.$notify.error({
                                title: 'Ошибка',
                                message: 'Неверные логин/пароль',
                                duration: 2000
                            })
                        })
                } else{
                    this.$notify({
                        title: 'Ошибка',
                        message: 'Заполните все поля'
                    })
                }
            })
        }
    }
}
</script>