<template lang="pug">
  layout-public(class="layout-home")
    home-hero
</template>

<script>
  import HomeHero from './home-hero.vue'

  export default {
    name: 'homepage',
    components: {
      'home-hero': HomeHero
    },
    metaInfo: {
      title: 'Главная'
    }
  }
</script>
