<template lang="pug">
  .home-hero
    .container
      md-layout(md-row)
        md-layout(md-flex="grow" md-flex-small="100" md-column md-align="center").home-hero__text
          md-layout.inner(md-flex="none")
            | Мотивирующий текст
            br
            | Как это работает
        md-layout(md-flex="none" md-flex-small="100")
          md-whiteframe(md-elevation="10")
            home-register-form
</template>

<script>
  import HomeRegisterForm from './home-register-form.vue'

  export default {
    name: 'home-hero',
    components: {
      'home-register-form': HomeRegisterForm
    }
  }
</script>

<style lang="stylus" scoped>
  @require '../../../styles/vars.styl'

  .home-hero
    background #fff url(../../../../static/img/bg/1.jpg) 0 50% no-repeat
    background-size cover
    padding 40px 0
    min-height 350px

    &__text

      .inner
        line-height 40px
        color #fff
        text-align center
        font-size 30px
</style>
