<template lang="pug">
  md-layout#app(md-flex, md-column, v-show="!$store.state.userDirty")
    alert-global
    md-theme(md-name="default")
      router-view
</template>

<script>
  import Datepicker from 'vuejs-datepicker'
  import eventHub from './utils/eventHub'
  export default {
    name: 'app',
    components: {
      datepicker: Datepicker
    },
    metaInfo: {
      title: '',
      titleTemplate: '%s | Crazyfatburn',
      base: { href: '/' },
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' }
      ],
      link: [
        { rel: 'favicon', href: 'favicon.ico' }
      ]
    },
    methods: {
      rejectAuth () {
        this.$store.dispatch('auth/rejectAuth')
        this.$router.push({ name: 'auth.login' })
      }
    },
    created () {
      eventHub.$on('global:rejectAuth', this.rejectAuth)
    },
    beforeDestroy () {
      eventHub.$off('global:rejectAuth', this.rejectAuth)
    }
  }
</script>

<style lang="stylus" scoped>
  #app
    position relative
    min-height 100%
    height auto !important
    width 100%
    min-width 320px
    overflow hidden
</style>
