<template lang="pug">
  md-layout(md-flex="none")
    footer.footer.footer-onlyform
      .footer-text &copy; Projector. 2017 Все права защищены.
</template>

<script>
  export default {
    name: 'footer-only-form'
  }
</script>
