<template lang="pug">
  md-layout(md-flex="none")
    header.header.header-onlyform
      .header-onlyform__logowrap
        router-link.logo(:to="{ name: 'homepage'}")
</template>

<script>
  export default {
    name: 'header-only-form'
  }
</script>

<style lang="stylus">
  @require '../../styles/vars.styl'
  @require '../../styles/components/header.styl'

  .header
    &.header-onlyform
      text-align center
</style>
