<template lang="pug">
  layout-onlyform(md-flex, md-column, class="layout-register")
    md-layout.onlyform(md-align="center", md-column, md-flex="grow")
      md-layout(md-flex="none", md-flex-xsmall="100")
        md-whiteframe(md-elevation="10")
          register-form(:next-url="nextUrl")
</template>

<script>
  import RegisterForm from './register-form.vue'

  export default {
    name: 'register-page',
    components: {
      'register-form': RegisterForm
    },
    props: {
      nextUrl: {type: String}
    },
    metaInfo: {
      title: 'Регистрация'
    }
  }
</script>

<style lang="stylus" scoped>
  .layout-register
    background #fff url(../../../../static/img/bg/19.jpg) 50% 50% no-repeat
    background-size cover
</style>
