<template lang="pug">
  .register-form
    form.form(novalidate @submit.prevent="submit")
      h3.h3 Регистрация
      md-layout(md-row-xsmall, :md-gutter="16")

        md-layout(md-flex="50", md-flex-xsmall="100")
          md-input-container(:class="{'md-input-invalid': errors.has('first_name')}" class="md-has-count")
            label Имя
            md-input(v-model.trim="credentials.first_name" required maxlength="30" v-validate="'required'" data-vv-name="first_name" data-vv-delay="200" data-vv-as="имя")
            .md-error(v-show="errors.has('first_name')", :title="errors.first('first_name')") {{ errors.first('first_name') }}

        md-layout(md-flex="50", md-flex-xsmall="100")
          md-input-container(:class="{'md-input-invalid': errors.has('last_name')}" class="md-has-count")
            label Фамилия
            md-input(v-model.trim="credentials.last_name" required maxlength="30" v-validate="'required'" data-vv-name="last_name" data-vv-delay="200" data-vv-as="фамилия")
            .md-error(v-show="errors.has('last_name')", :title="errors.first('last_name')") {{ errors.first('last_name') }}

      md-input-container(:class="{'md-input-invalid': errors.has('phone_number')}" class="md-has-count")
        md-icon phone
        span.input-prepend +7
        label Телефон
        md-input(v-model.trim="credentials.phone_number" required maxlength="10" type="tel" v-validate="'required|digits:10'" data-vv-name="phone_number" data-vv-delay="200" data-vv-as="телефон")
        .md-error(v-show="errors.has('phone_number')", :title="errors.first('phone_number')") {{ errors.first('phone_number') }}
        .md-hint Только цифры

      md-input-container(:class="{'md-input-invalid': errors.has('email')}" class="md-has-count")
        md-icon email
        label E-mail
        md-input(v-model.trim="credentials.email" required maxlength="254" type="email" v-validate="'required|email'" data-vv-name="email" data-vv-delay="200" data-vv-as="e-mail")
        .md-error(v-show="errors.has('email')", :title="errors.first('email')") {{ errors.first('email') }}

      md-input-container(md-has-password :class="{'md-input-invalid': errors.has('password')}" class="md-has-count")
        label Пароль
        md-input(v-model.trim="credentials.password" required maxlength="50" type="password" v-validate="'required|min:5'" data-vv-name="password" data-vv-delay="200" data-vv-as="пароль")
        .md-error(v-show="errors.has('password')", :title="errors.first('password')") {{ errors.first('password') }}

      md-input-container(md-has-password :class="{'md-input-invalid': errors.has('password_confirm')}" class="md-has-count")
        label Повторите пароль
        md-input(v-model.trim="credentials.password_confirm" required maxlength="50" type="password" v-validate="'required|min:5'" data-vv-name="password_confirm" data-vv-delay="200" data-vv-as="повторение пароля")
        .md-error(v-show="errors.has('password_confirm')", :title="errors.first('password_confirm')") {{ errors.first('password_confirm') }}

      md-layout.form__bottom(md-align="end")
        md-layout(md-flex="none")
          md-button.md-raised.md-warn(@click.native.prevent="submit") Зарегистрироваться
</template>

<script>
  export default {
    name: 'register-form',
    data () {
      return {
        credentials: {
          email: null,
          first_name: null,
          last_name: null,
          password: null,
          password_confirm: null,
          phone_number: null
        },
        submitting: false
      }
    },
    props: {
      nextUrl: {type: String}
    },
    methods: {
      submit () {
        let self = this
        if (this.submitting) return false

        this.$validator.validateAll().then((result) => {
          if (result) {
            self.$store.dispatch('auth/register', {
              phone_code: 1,
              ...self.credentials
            }).then(() => {
              self.$router.push(self.nextUrl ? self.nextUrl : { name: 'account.dashboard' })
            }).finally(() => {
              this.submitting = false
            })
          }
        }).catch(() => {
          this.submitting = false
        })
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .register-form
    max-width 450px
</style>
