<template lang="pug">
  layout-onlyform(class="layout-login")
    md-layout.onlyform(md-align="center", md-column, md-flex="grow")
      md-layout(md-flex="none", md-flex-xsmall="100")
        md-whiteframe(md-elevation="10")
          login-form(:next-url="nextUrl")
</template>

<script>
  import { anonymousMixin } from '../../../mixins/guards'
  import LoginForm from './login-form.vue'

  export default {
    name: 'login-page',
    mixins: [anonymousMixin],
    components: {
      'login-form': LoginForm
    },
    props: {
      nextUrl: {type: String}
    },
    metaInfo: {
      title: 'Вход в систему'
    }
  }
</script>

<style lang="stylus" scoped>
  .layout-login
    background #fff url(../../../../static/img/bg/18.jpg) 50% 50% no-repeat
    background-size cover
</style>
