<template lang="pug">
  .login-form
    form.form(novalidate @submit.prevent="submit")
      h3.h3 Вход в систему

      md-input-container(:class="{'md-input-invalid': errors.has('username')}" class="md-has-count")
        label Логин
        md-input(v-model.trim="credentials.email" required maxlength="254" type="text" v-validate="'required|email'" data-vv-name="email" data-vv-delay="200" data-vv-as="логин")
        .md-error(v-show="errors.has('email')", :title="errors.first('email')") {{ errors.first('email') }}

      md-input-container(md-has-password :class="{'md-input-invalid': errors.has('password')}" class="md-has-count")
        label Пароль
        md-input(v-model.trim="credentials.password" required maxlength="50" type="password" v-validate="'required|min:5'" data-vv-name="password" data-vv-delay="200" data-vv-as="пароль")
        .md-error(v-show="errors.has('password')", :title="errors.first('password')") {{ errors.first('password') }}

      md-layout.form__bottom(md-align="end")
        md-layout(md-flex="none")
          md-button.md-raised.md-warn(@click.native.prevent="submit") Войти
</template>

<script>
  export default {
    name: 'login-form',
    data () {
      return {
        credentials: {
          email: null,
          password: null
        },
        submitting: false
      }
    },
    props: {
      nextUrl: {type: String}
    },
    methods: {
      submit () {
        let self = this
        if (this.submitting) return false

        this.submitting = true

        this.$validator.validateAll().then((result) => {
          if (result) {
            self.$store.dispatch('auth/login', {
              ...self.credentials
            }).then(() => {
              self.$router.push(self.nextUrl ? self.nextUrl : { name: 'account.dashboard' })
            }).finally(() => {
              this.submitting = false
            })
          }
        }).catch(() => {
          this.submitting = false
        })
      }
    }
  }
</script>
