<template lang="pug">
  .account-content.account-settings
    h3.h3.page-heading
      md-icon settings
      | Настройки аккаунта

    md-tabs.md-transparent.account-settings-tabs(md-fixed)
      md-tab(id="personal" md-label="Личные данные" md-icon="account_box" md-tooltip="Изменить персональные данные" md-active)
        md-layout(md-row-xsmall, :md-gutter="16")
          md-layout(md-flex="50", md-flex-xsmall="100")
            account-personal-form

          md-layout(md-flex="50", md-flex-xsmall="100")
            account-password-form

      md-tab(id="experience" md-label="Опыт работы" md-icon="work" md-tooltip="Внести информацию об опыте работы", v-if="isCandidate")
        p &nbsp;

      md-tab(id="education" md-label="Образование" md-icon="school" md-tooltip="Указать данные о полученном образовании", v-if="isCandidate")
        p &nbsp;
</template>

<script>
  // import { mapGetters } from 'vuex'

  import { requiresAuthMixin } from '../../../mixins/guards'
  import AccountPasswordForm from './components/password-form.vue'
  import AccountPersonalForm from './components/personal-form.vue'

  export default {
    name: 'account-settings',
    mixins: [requiresAuthMixin],
    components: {
      'account-password-form': AccountPasswordForm,
      'account-personal-form': AccountPersonalForm
    },
    metaInfo: {
      title: 'Настройки аккаунта'
    }
  }
</script>

<style lang="stylus">
  .account-settings
    .md-tab-header-container
      span
        @media (max-width: 767px)
          display none !important
</style>
