<template lang="pug">
  md-layout.layout.layout-onlyform(md-flex, md-column)
    header-public
    md-layout.main(md-flex="grow", md-column md-align="center")
      slot
    footer-onlyform
</template>

<script>
  export default {
    name: 'layout-onlyform'
  }
</script>

<style lang="stylus">
  @require '../../styles/vars.styl'

  .layout-onlyform
    min-height 100%
    width 100%

    .main
      padding $doubleGutter 0

    .form
      max-width 450px
      width 450px
      min-width 300px

      @media (max-width: 450px)
        width 100%
</style>
