<template lang="pug">
  .layout.layout-public
    header-public
    main.main
      slot
    .footer-push
    footer-public
</template>

<script>
  export default {
    name: 'layout-public'
  }
</script>
