{%- extends 'emails/_layouts/customer.html' -%}

{%- block EMAIL_BODY -%}
<p>
    Уважаемый {{ user.name }}!
    Вы зарегистрировались на сайте {{ site_name() }}!

<p>
    Ваша ссылка для подтверждения email: {{ url|e }}<br/>
    Либо нажмите на эту кнопку: <br/>
</p>
<p style="text-align:center">
    <button href="{{ url|e }}" style="display:inline-block;background:#FF7D3A;color:#ffffff;font-size:18px;">Подтвердить</button>
</p>
{%- endblock -%}
