<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Responsive Email Template</title>

    <style type="text/css">
    .ExternalClass,.ReadMsgBody,body{width:100%;background-color:#fff}body{margin:0;padding:0;-webkit-font-smoothing:antialiased;font-family:Arial,Helvetica,sans-serif}table{border-collapse:collapse}
    @media only screen and (max-width:640px){body[yahoo] .deviceWidth{width:440px!important;padding:0}body[yahoo] .center{text-align:center!important}}
    @media only screen and (max-width:479px){body[yahoo] .deviceWidth{width:280px!important;padding:0}body[yahoo] .center{text-align:center!important}}
    </style>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" yahoo="fix"
      style="font-family: Arial,Helvetica,sans-serif">
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td width="100%" valign="top" bgcolor="#ffffff" style="padding-top:20px">
            <!--Start Header-->
            <table width="700" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0"
                   align="center" class="deviceWidth">
                <tr>
                    <td style="padding: 6px 0px 0px">
                        <table width="650" border="0" cellpadding="0" cellspacing="0"
                               align="center" class="deviceWidth">
                            <tr>
                                <td width="100%">
                                    <table border="0" cellpadding="0" cellspacing="0" align="left"
                                           class="deviceWidth">
                                        <tr>
                                            <td class="center" style="padding: 20px 0px 10px 0px">
                                                <a href="{{ site_url() }}/">Logo</a>
                                            </td>
                                        </tr>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" align="right"
                                           class="deviceWidth">
                                        <tr>
                                            <td class="center"
                                                style="font-size:13px;color:#272727;font-weight:400;text-align:center;font-family:Arial,Helvetica,sans-serif;line-height:25px;vertical-align:middle;padding:20px 0 10px 0">
                                                <a href="{{ site_url() }}/"
                                                   style="text-decoration: none; color: #3b3b3b;">PRODUCTS</a>
                                                &nbsp; &nbsp;
                                                <a href="{{ site_url() }}/"
                                                   style="text-decoration: none; color: #3b3b3b;">SERVICES</a>
                                                &nbsp; &nbsp;
                                                <a href="{{ site_url() }}/"
                                                   style="text-decoration: none; color: #3b3b3b;">WORK</a>
                                                &nbsp; &nbsp;
                                                <a href="{{ site_url() }}/"
                                                   style="text-decoration: none; color: #3b3b3b;">BLOG</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
                <tr>
                    <td width="100%">
                        {%- block EMAIL_BODY %}{% endblock %}
                    </td>
                </tr>
            </table>

            <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
                <tr>
                    <td width="100%" bgcolor="#a5d1da" class="center">
                        <table border="0" cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td valign="top" style="padding: 20px 10px " class="center">
                                    <a href="{{ site_url() }}">
                                        <img width="60" height="60" src="img/icons/icon_support.png">
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td class="center"
                                    style="font-size:16px;color:#ffffff;font-weight:bold;text-align:center;font-family:Arial,Helvetica,sans-serif;line-height:25px;vertical-align:middle;padding:0 10px;">
                                    24 Hour Support
                                </td>
                            </tr>
                            <tr>
                                <td class="center"
                                    style="font-size: 12px; color: #ffffff; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 20px 10px; ">
                                    Arrival entered an if drawing requests iness she ham but
                                    instantlyt putif departuresam propr. Certain be yeamiasa ble by
                                    exposed Two differed husbands met screened his. How daughters
                                    not promotion few knowledge. contented. Yet winter law romotion
                                    few knowledge contented behind
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table width="700" border="0" cellpadding="0" cellspacing="0" align="center"
                   class="deviceWidth">
                <tr>
                    <td class="center"
                        style="font-size: 12px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 20px 10px 0px; ">
                        Drawings me opinions returned absolute in. Otherwise therefore did are
                        unfeeling something. Certain be ye amiable by exposed Two differed husbands
                        met screened his. Bed was form wife out ask draw. Wholly coming at we no
                        enable
                    </td>
                </tr>
                {%- if user is defined() and user %}
                <tr>
                    <td class="center"
                        style="font-size: 12px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 20px 10px 0px; ">
                        Если Вы хотите отписаться от рассылки, то нажмите
                        <a style="text-decoration: none; color: #e67e22;" href="{{ site_url() }}{{ unsubscribe_token(user) }}">сюда</a>
                    </td>
                </tr>
                {%- endif %}
                <tr>
                    <td class="center"
                        style="font-size: 12px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 20px 50px 0px 50px; ">
                        ©  2017. Все права защищены.
                    </td>
                </tr>
            </table>

            <div style="height:15px">&nbsp;</div>
        </td>
    </tr>
</table>
</body>
</html>