@require '../vars.styl'
.form
  .h2
  .h3,
  &__heading
    margin 0
    text-align center

  &__heading
    text-align left
    margin 0 0 $doubleGutter

  &__bottom
    margin 40px 0 0

    .md-button
      margin 0

  &__row
    width 100%
    min-height 48px
    margin 4px 0 24px
    padding-top 16px
    display flex
    position relative

    >label
      pointer-events auto
      top 0
      opacity 1
      font-size 12px
      position absolute
      left 0
      transition all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1)
      transition-duration .3s
      color rgba(0, 0, 0, 0.54)
      line-height 20px

      &:after
        position absolute
        top 2px
        right 0
        transform translateX(calc(100% + 2px))
        content "*"
        font-size 12px
        line-height 1em
        vertical-align top

  .input-prepend
    margin 4px 0 4px 6px
    display inline-block
    line-height 20px
    position relative
    width 24px
    min-width 24px
    height 24px
    min-height 24px
    font-size 16px
    display -ms-inline-flexbox
    display inline-flex
    -ms-flex-align center
    align-items center
    vertical-align middle
    color $grey600

    &:after
      width 24px
      height 2px
      position absolute
      background #fff
      left 0
      bottom 0
      z-index 2
      content ""
