@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&subset=cyrillic,cyrillic-ext')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')



html
body
  height 100%
  min-width 320px
  width 100%

body
  font 14px/20px Roboto, sans-serif
  font-weight 400

  &, *
    margin 0
    padding 0
    box-sizing border-box !important

h1
h2
h3
h4
h5
.h1
.h2
.h3
.h4
.h5
  font-weight 300
  line-height 1.333em
  margin 0.5em 0 1.5em

h1
.h1
  font-size 36px

h2
.h2
  font-size 30px

h3
.h3
  font-size 24px

h4
.h4
  font-size 20px

h5
.h5
  font-size 16px

ul
ol
li
  list-style none

.sidabar
  box-shadow none

.is-danger
  border-bottom 1px dashed red

.is-danger input 
.is-danger label 
  color red!important


@media only screen and (min-width: 921px)
  .container
    max-width 1000px
