body
    margin 0
    padding 0

.el-dialog 
    transform none
    left 0


.el-input__inner
.el-button
    border-radius 0

.el-notification__content
    p
        padding 1px
        margin 0

        b
            padding-right 9px
            margin 0

/* photo settings*/
.dialog-cropper
    left 25%
    width 45%


.avatar
    cursor pointer