<template>
    <el-form v-if="profile" :model="profile" label-position="top" ref="ProfileBasicForm" :rules="rules" class="ProfileForm">
        <el-form-item label="Email (логин)" prop="email">
            <el-input v-model="profile.email" name="email" size="small" disabled></el-input>
        </el-form-item>
        <el-form-item label="Ник" prop="username">
            <el-input v-model="profile.username" name="username"  size="small"></el-input>
        </el-form-item>
        <el-form-item label="Имя" prop="first_name">
            <el-input v-model="profile.first_name" name="first_name" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Фамилия" prop="last_name">
            <el-input v-model="profile.last_name" name="last_name" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Телефон">
            <el-input v-model="profile.phone" name="phone" size="small"></el-input>
        </el-form-item>
        <el-form-item label="Пол" prop="gender">
            <el-radio-group v-model="profile.gender">
                <el-radio label="m">Мужской</el-radio>
                <el-radio label="f">Женский</el-radio>
            </el-radio-group>
        </el-form-item>
    </el-form>
</template>


<script>
import {EventBus} from '@app/bus'
import { mapActions, mapGetters } from 'vuex'
import { localStorageMixin, utilsMixin } from '@app/mixins'
import HTTP from '@app/store/api';


export default {
    name: 'settings-basic',
    props: ['profile'],
    data () {
        return {
            rules: { 
                email: [
                  {type: 'email', required: true, message: 'Укажите свой email', trigger: 'blur'}
                ],
                username: [
                  {required: true, message: 'Укажите ник', trigger: 'blur'}
                ],
                first_name: [
                  {required: true, message: 'Укажите имя', trigger: 'blur'}
                ],
                last_name: [
                  {required: true, message: 'Укажите фамилию', trigger: 'blur'}
                ],
            }
        }
    },
    mixins: [localStorageMixin, utilsMixin]
}
</script>
