<template>
    <el-form v-if="profile" :model="profile" label-position="top" :rules="rules" ref="ProfileEtcForm" class="ProfileForm">
        <el-form-item label="Инстаграм" prop="social_instagram">
            <el-input v-model="profile.social_instagram" name="social_instagram" size="small" placeholder="http://..."></el-input>
        </el-form-item>
        <el-form-item label="Вконтакте" prop="social_vkontakte">
            <el-input v-model="profile.social_vkontakte" name="social_vkontakte" size="small" placeholder="http://..."></el-input>
        </el-form-item>
        <el-form-item label="О себе">
            <quill-editor :options="editorOption" v-model="profile.user_description" /></quill-editor>
        </el-form-item>

    </el-form>
</template>

<script>
import {EventBus} from '@app/bus'
import { mapActions, mapGetters } from 'vuex'
import { localStorageMixin, utilsMixin } from '@app/mixins'
import HTTP from '@app/store/api';
import { quillEditor } from 'vue-quill-editor'
var toolbarOptions = [
    [],
    ['bold', 'italic', 'underline', 'strike']
];
export default {
    name: 'settings-etc',
    mixins: [localStorageMixin, utilsMixin],
    props: ['profile'],
    data () {
        return {
            rules: {},
            editorOption: {
                modules: {
                    toolbar: toolbarOptions
                },
                theme: 'bubble'
            }
        }
    },
    components: {quillEditor}
}
</script>
