<template>
    <el-form v-if="profile" :model="profile" label-position="top" :rules="rules" ref="ProfilePasswordForm" class="ProfileForm">
        <el-form-item label="Сменить пароль?">
            <el-switch
                @change="handleCheckedChange"
                v-model="changePassModel"
                on-color="#13ce66"
                off-color="#ff4949"
                on-value="ok"
                off-value="fuckoff">
            </el-switch>
        </el-form-item>
        <el-form-item label="Новый пароль" prop="password">
            <el-input :disabled="disabled" v-model="profile.password" name="password" auto-complete="off"  type="password"></el-input>
        </el-form-item>

        <el-form-item label="Повторите новый пароль" prop="confirm_password">
            <el-input :disabled="disabled" v-model="profile.confirm_password" auto-complete="off"  name="confirm_password" type="password"></el-input>
        </el-form-item>
    </el-form>
</template>

<script>
import {EventBus} from '@app/bus'
import { mapActions, mapGetters } from 'vuex'
import { localStorageMixin, utilsMixin } from '@app/mixins'
import HTTP from '@app/store/api';


export default {
    name: 'settings-password',
    mixins: [localStorageMixin, utilsMixin],
    props: ['profile'],
    methods: {
        handleCheckedChange(value) {
            this.disabled = (value == "ok")? false : true
        }
    },
    data () {
        var validatePass = (rule, value, callback) => {
            if (value && this.profile.confirm_password !== '') {
                this.$refs.ProfilePasswordForm.validateField('confirm_password')
            }
            callback();
        };
        var validatePass2 = (rule, value, callback) => {
            if(this.changePassModel == "ok"){
                if (value === '' && this.profile.password) {
                    callback(new Error('Повторите пароль'))
                } 
                else if (value !== this.profile.password) {
                    callback(new Error('Пароли не совпадают!'))
                } else {
                    callback()
                }    
            }else{
                delete this.profile.confirm_password 
                delete this.profile.password 
                callback()
            }
        };
        return {
            changePassModel: 0,
            disabled:true,
            rules: { 
                password: [
                  { validator: validatePass, trigger: 'change'}
                ],
                confirm_password: [
                    { validator: validatePass2, trigger: 'change'}
                ],
            }
        }
    }
}
</script>
