<template>
    <div>
        <el-dialog :visible.sync="dialogVisible" custom-class="dialog-cropper">
            <custom-cropper :size="{width: 150, height: 150}"></custom-cropper>
        </el-dialog>
        <el-form v-if="profile" :model="profile" label-position="top"  ref="ProfilePhotoForm" class="ProfileForm">
            <el-form-item label="Фотография">
                <div v-if="!profile.photo" class="not_photo_exists">
                    <input type="file" @change="onFileChange($event)" accept="image/jpeg,image/png">
                    <el-button type="primary">Загрузить фото</el-button>
                </div>
                <div v-else class="photo_exists">
                    <div class="img">
                        <el-button type="primary" @click="removeImage" class="remove">x</el-button>
                        <img :src="profile.photo" id="profile_photo"/><!--для  Base64Decode -->
                    </div>
                </div>
            </el-form-item>

            <el-form-item label="Аватарка">
                <div class="ava">
                    <el-button v-if="avaUrl" type="primary" @click="removeAva" class="remove_ava">x</el-button>
                    <avatar :username="full_username" :size="150" :lighten="85" :src="avaUrl" @click.native="showAvatarBox"></avatar> 
                    <img :src="profile.avatar" id="profile_avatar" v-if="profile.avatar" /><!--для  Base64Decode -->
                </div>
            </el-form-item>

        </el-form>
    </div>
</template>

<script>
import {EventBus} from '@app/bus'
import { mapActions, mapGetters } from 'vuex'
import { localStorageMixin, utilsMixin } from '@app/mixins'
import HTTP from '@app/store/api';
//import Avatar from 'vue-avatar/dist/Avatar.vue'
import Avatar from '@app/components/Avatar.vue'
import CustomCropper from '@app/components/CustomCropper.vue'

export default {
    name: 'settings-photo',
    props: ['profile'],
    data () {
        return {
            dialogVisible: false,
            avaUrl: "",
            cropSize: {
                width: 150, 
                height: 150
            }
        }
    },
    computed: {
        ...mapGetters(['user', 'full_username', 'image'])
    },
    mixins: [localStorageMixin, utilsMixin],
    methods: {
        showAvatarBox() {
            this.dialogVisible = true
        },
        closeAvatarBox() {
            this.dialogVisible = false
        },
        onFileChange(e) {
            var files = e.target.files || e.dataTransfer.files
            if (!files.length)
                return
            this.createImage(files[0])
        },
        createImage(file) {
            var reader = new FileReader()
            var vm = this

            reader.onload = (e) => {
                this.profile.photo = e.target.result
            }
            reader.readAsDataURL(file)
        },
        removeImage(e) {
          this.profile.photo = null
        },
        removeAva(e) {
          this.avaUrl = undefined
          this.profile.avatar =  null
          // this.$refs.avatar.initial(this.full_username)
        },
        croppedData({img}) {
            this.avaUrl = img
            this.profile.avatar =  this.avaUrl
            this.dialogVisible = false
        }
    },
    mounted () {
        this.avaUrl = this.image.avatar
    },
    created () {
      EventBus.$on('cropped', this.croppedData)
    },
    beforeDestroy () {
      EventBus.$off('cropped', this.croppedData)
    },
    components: {
        Avatar,
        CustomCropper
    }
}
</script>

<style lang="stylus" scoped>

.photo_exists
    position relative


.ava
    width 150px
    margin 10px 0
    position relative


.img
    width 30%
    margin 10px 0
    position relative

    img
        display block
        width 100%


button.remove
    position absolute
    width 30px
    height 30px
    display block
    border-radius 50%
    background #f00
    right -15px
    top -15px
    padding 0
    font-family Arial
    font-weight bold
    opacity .99
    transition all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)

button.remove_ava
    position absolute
    width 30px
    height 30px
    display block
    border-radius 50%
    background #f00
    right 10px
    top 5px
    padding 0
    font-family Arial
    font-weight bold
    opacity .99
    transition all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)

button.remove:hover
    background #fff
    color #ad5960


.not_photo_exists
    height 35px
    width 30%
    background none
    cursor pointer

    input
        position absolute
        opacity 0
        width 100%
        height 100%

#profile_avatar
    opacity 0
    left -1000000
    position absolute
</style>
