<template lang="pug">
  layout-onlyform(class="layout-error layout-error-404")
    md-layout(md-column, md-align="center")
      h2.h2(md-flex) 404 - Страница не найдена
</template>

<script>
  export default {
    name: 'e404',
    metaInfo: {
      title: 'Страница не найдена'
    }
  }
</script>
