.vdp-datepicker
  flex 1

  input
    width 100%
    height 32px
    padding 0
    display block
    flex 1 1 0
    border none
    border-bottom 1px solid rgba(0, 0, 0, 0.12)
    background none
    transition all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1)
    transition-property font-size
    color rgba(0, 0, 0, 0.54)
    font-family inherit
    line-height 32px
