@require '../vars.styl'

.header
  height $headerHeight
  line-height 20px
  padding $gutter $doubleGutter
  background #fff
  width 100%
  box-shadow 0 2px 5px rgba(0, 0, 0, .25)

  a.logo
    cursor pointer
    display inline-block
    color $grey900
    transition color $speedNormal ease

    &
    &:hover
      text-decoration none !important

    &:hover
      color $red800

