<template lang="pug">
  .alert.alert-global
    md-dialog(:md-ok-text="okLabel", ref="alert-global")
      md-dialog-title {{title}}
      md-dialog-content(v-html="content")
      md-dialog-actions
        md-button(class="md-primary md-raised", @click.native="closeDialog()") {{okLabel}}
</template>

<script>
  import eventHub from '../../utils/eventHub'

  const defaultOkLabel = 'OK'
  const defaultTitle = 'Внимание'

  export default {
    name: 'alert-global',
    data () {
      return {
        content: '',
        okLabel: defaultOkLabel,
        title: defaultTitle
      }
    },

    created () {
      eventHub.$on('global:alert', this.openDialog)
    },

    beforeDestroy () {
      eventHub.$off('global:alert', this.openDialog)
    },

    methods: {
      openDialog ({ content, title, okLabel }) {
        this.content = content
        if (okLabel) {
          this.okLabel = okLabel
        }
        if (title) {
          this.title = title
        }
        this.$refs['alert-global'].open()
      },

      closeDialog () {
        setTimeout(() => {
          this.content = ''
          this.okLabel = defaultOkLabel
          this.title = defaultTitle
        }, 300)

        this.$refs['alert-global'].close()
      }
    }
  }
</script>
