<template>
    <layout-private>
        <div class="main">
            <h1 v-if="user" class="h1">Здравствуй, {{user.first_name}}</h1>
            <transition name="fade">
                <router-view></router-view>
            </transition>
        </div>
    </layout-private>
</template>

<script>
import {EventBus} from '../../bus'
import { mapActions, mapGetters, mapState } from 'vuex'

export default {
    name: 'home',
    computed: {
        ...mapGetters([
            'user'
        ]),
    }
}
</script>

<style>
.main {
    padding: 0 10px 10px 10px;
    background: #fefefa;
}
</style>