<template>
    <div>
        <el-tabs v-model="tabActive">
            <el-tab-pane
            v-for="(item, index) in tabs"
            :key="index"
            :label="item.label"
            :name="item.name"
            >
            <component :is="item.component" :profile="profile" :ref="item.name"></component>
            </el-tab-pane>
        </el-tabs>
        <hr />
        <el-button type="primary" @click="submitForm(tabActive)">Сохранить профиль</el-button>
    </div>
</template>

<script>
import {EventBus} from '@app/bus'
import { mapActions, mapGetters } from 'vuex'
import { localStorageMixin, utilsMixin } from '@app/mixins'
import HTTP from '@app/store/api';
import _ from 'lodash'

import CustomCropper from '@app/components/CustomCropper.vue'
import SettingsBasic from '@app/components/settings/basic.vue'
import SettingsPhoto from '@app/components/settings/photo.vue'
import SettingsPassword from '@app/components/settings/password.vue'
import SettingsEtc from '@app/components/settings/etc.vue'

export default {
    props: ['tab'],
    components: {
        "settings-basic": SettingsBasic, 
        "settings-photo": SettingsPhoto, 
        "settings-password": SettingsPassword, 
        "settings-etc": SettingsEtc        
    },
    name: 'settings',
    mixins: [utilsMixin],
    data () {
        return {
            profile: null,
            tabActive: "ProfileBasicForm",
            rules: {},
            currentTab: this.tabACtive,
            tabs:[
                {
                    label: "Основные",
                    component: "settings-basic",
                    name: "ProfileBasicForm"
                },
                {
                    label: "Пароль",
                    component: "settings-password",
                    name: "ProfilePasswordForm"
                },
                {
                    label: "Изображения",
                    component: "settings-photo",
                    name: "ProfilePhotoForm"
                },
                {
                    label: "Другое",
                    component: "settings-etc",
                    name: "ProfileEtcForm"
                }
            ]
        }
    },
    mixins: [localStorageMixin, utilsMixin],
    computed: {
        ...mapGetters(['user'])
    },
    methods: {
        ...mapActions(['SAVE_USER_PROFILE', 'SET_IMAGES']),
        getBase64Image(img) {
            if(img){
                var canvas = document.createElement("canvas");
                canvas.width = img.width;
                canvas.height = img.height;
                var ctx = canvas.getContext("2d");
                ctx.drawImage(img, 0, 0, img.width, img.height);
                return canvas.toDataURL("image/jpeg");                
            }

        },
        convertPhotos() {
            var images = {
                photo: "profile_photo",
                avatar: "profile_avatar"
            }
            _.map(images, (value, key) => {
                if(value.indexOf('data:image/') == -1){
                    var el = document.getElementById(value),
                    base64 = this.getBase64Image(el)
                    if(base64){
                        this.profile[key] = base64
                    }
                }
            })
        },
        submitForm(formName) {
            var _comp = this.$refs[formName][0],
            form = _comp.$refs[formName]
            form.validate((valid) => {
                if(valid){
                    this.convertPhotos()
                    this.SAVE_USER_PROFILE(this.profile)
                }else{
                  EventBus.$notify.error({
                    message: 'Ошибки в полях',
                    duration: 2000
                  })
                }
            })
        }
    },
    mounted() {
        this.profile =  _.clone(this.user, true)    
    }
}
</script>


<style lang="stylus">

</style>