<template>
    <div v-if="user">
        <el-row>
            <el-col :xs="{offset:0, span:24}" :sm="{offset:0, span:4}">
                <el-menu :router="true" :default-active="activeLink">
                    <el-row align="middle" type="flex" v-if="user">
                        <el-col :span="5">
                            <avatar :username="full_username" :lighten="85" :src="user.avatar"></avatar> 
                        </el-col>
                        <el-col :span="19">{{user.username}}</el-col>
                    </el-row>
                    <template v-for="rule in $router.options.routes">
                        <el-submenu v-if="rule.children && rule.children.length > 0 && rule.name=='main'" :index="rule.path">
                            <template slot="title"><i :class="rule.icon"></i>{{ rule.title }}</template>
                            <el-menu-item v-for="child in rule.children" :index="rule.path + '/' + child.path">{{ child.title }}</el-menu-item>
                        </el-submenu>
                    </template>
                    <el-menu-item index="logout" @click="logout">Выход</el-menu-item>
                </el-menu>
            </el-col>
            <el-col :xs="{offset:0, span:24}" :sm="{offset:4, span:12}">
                <slot></slot>
            </el-col>
        </el-row>
    </div>
</template>

<script>
import ls from 'local-storage'
import { mapActions, mapGetters } from 'vuex'
import { localStorageMixin } from '@app/mixins'
//import Avatar from 'vue-avatar/dist/Avatar.vue'
import CustomCropper from '@app/components/CustomCropper.vue'
import {EventBus} from '@app/bus'
import Avatar from '@app/components/Avatar.vue'

export default {
    name: 'layout-private',
    mixins: [localStorageMixin],
    computed: {
        ...mapGetters(['user', 'full_username', 'image', 'is_reset_password'])
    },
    methods: {
        ...mapActions([
          'LOG_OUT_USER',
          'TOKEN_VERIFY'
        ]),
        logout() {
            this.LOG_OUT_USER().then((redirect) => {
                return this.$router.push(redirect)     
            })
        },
        showAvatarBox() {
            this.dialogVisible = true
        },
        closeAvatarBox() {
            this.dialogVisible = false
        }
    },
    data: () => ({
        showSidebar: false,
        activeLink: null,
        dialogVisible: false
    }),
    created () {
        let token = this.ls_pullToken()
        if(!token){
            this.$router.push({name: 'auth.login'})
        }else{
            this.TOKEN_VERIFY({token: token}).then((response) =>{
                this.showSidebar=true
                if(!response){
                    this.$router.push({name: 'auth.login'})
                }
            })
        }
    },
    components: {
        Avatar,
        CustomCropper
    }
}
</script>
