<template>
    <div class="container">
        <el-row>
            <el-col :xs="{offset:0, span:24}" :sm="{offset:4, span:16}">
                <div class="grid-content bg-purple-dark">
                    <router-link :to="{name: 'auth.login'}">Вход</router-link>
                    <router-link :to="{name: 'auth.password-restore'}">Забыли пароль?</router-link>
                </div>
          </el-col>
        </el-row>
        <el-row>
            <el-col :xs="{offset:0, span:24}" :sm="{offset:4, span:16}">
                <slot></slot>
            </el-col>
        </el-row>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { localStorageMixin } from '@app/mixins'

export default {
    name: 'layout-public',
    mixins: [localStorageMixin],
    methods: {
        ...mapActions([
            'TOKEN_VERIFY'
        ]),
    },
    created () {
        const token = this.ls_pullToken()
        if(token){
            this.TOKEN_VERIFY({token: token}).then((response) =>{
                this.$router.push({name: 'main'})
            })
        }
    }
}
</script>