<template>
  <div>
    <main>
      <div class="img-clip-wrap">
        <div class="container-bg">
          <div class="img-container">
            <img id="clip_src_img" @load="srcImgLoaded" :src="img">
            <div class="shadow-box"></div>
            <Select-Box ref="box" :srcSize="imgSize" :ratio="ratio" :img="img" @selectEnd="selectEnd"
            @selectChange="selectChange"></Select-Box>
          </div>
        </div>
      </div>
      <div class="img-preview-wrap">
        <div class="pre-container">
          <div class="pre-container-circle">
            <img id="clip_res_img" :src="img">
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="reset-img">
        <el-button>Загрузить фото</el-button>
        <input type="file" id="file_input" @change="fileChange" accept="image/jpeg,image/png">
      </div>
       <el-button @click.prevent="doneCrop" v-show="!!img">Готово</el-button>
    </footer>
  </div>
</template>

<script>
import SelectBox from '@app/components/SelectBox.vue'
import {EventBus} from '@app/bus'

  export default {
    components: {
      SelectBox
    },
    props: {
      size: {
        type: Object,
        default: () => {}
      }
    },
    data () {
      return {
        img: null,
        $srcImg: null,
        $resImg: null,
        $input: null,
        $imgContainer: null,
        $preContainer: null,
        nw: 0,
        nh: 0,
        clipData: null,
        ratio: 1 / 1, // equal to SelectBox's width / height
        imgSize: {w: 0, h: 0},
        containerTop: 0,
        croppedImg: {w:0, h:0, t:0, l:0}
      }
    },
    mounted () {
      this.$input = this.$el.querySelectorAll('#file_input')[0]
      this.$srcImg = this.$el.querySelectorAll('#clip_src_img')[0]
      this.$resImg = this.$el.querySelectorAll('#clip_res_img')[0]
      this.$imgContainer = this.$el.querySelectorAll('.img-container')[0]
      this.$preContainer = this.$el.querySelectorAll('.pre-container')[0]
      this.$containerBox = this.$el.querySelectorAll('.container-bg')[0]
    },
    methods: {
      doneCrop () {
        EventBus.$emit("cropped", {img: this.clipData})
      },
      selectChange () {
        const rec = this.$refs.box.rec
        if (rec.w > 0 && rec.h > 0) {
          this.updatePreview()
        }
      },
      selectEnd () {
        const rec = this.$refs.box.rec
        if (rec.w > 0 && rec.h > 0) {
          this.clip()
        }
      },
      fileChange () {
        const me = this
        const fd = new FileReader()
        fd.onloadend = function () {
          me.img = fd.result
        };
        if (this.$input.files && this.$input.files[0]) {
          fd.readAsDataURL(this.$input.files[0])
        }
      },
      srcImgLoaded () {
        this.nw = this.$srcImg.naturalWidth
        this.nh = this.$srcImg.naturalHeight
        this.clearSelect()
        this.setImgSize()
        this.updatePreview()
        this.clip()
      },
      clearSelect () {
        const box = this.$refs.box
        box.clearRec()
        this.clipData = null
      },
      setImgSize () {
        // image's naturalWidth naturalHeight ratio
        const nr = this.nw / this.nh
        const scw = this.$containerBox.offsetWidth
        const sch = this.$containerBox.offsetHeight
        let rw = 0  // select box width
        let rh = 0  // select box height
        if (nr >= this.ratio) {
          this.imgSize.w = scw
          this.imgSize.h = scw / nr
          this.containerTop = (sch - this.imgSize.h) / 2
          rh = this.imgSize.h
          rw = rh * this.ratio
        } else {
          this.imgSize.h = sch
          this.imgSize.w = sch * nr
          this.containerTop = 0
          rw = this.imgSize.w
          rh = rw / this.ratio
        }
        this.$srcImg.setAttribute('style', `width:${this.imgSize.w}px;height:${this.imgSize.h}px;`)
        this.$imgContainer.setAttribute('style',
          `width:${this.imgSize.w}px;height:${this.imgSize.h}px;top:${this.containerTop}px;`)
        this.$refs.box.rec = {
          w: rw/2*this.ratio, 
          h: rh/2*this.ratio, 
          l: this.imgSize.w/4, 
          t: this.imgSize.h/4
        }
      },
      getComputedRec (r) {
        const cw = this.$imgContainer.offsetWidth
        const ch = this.$imgContainer.offsetHeight
        const wr = cw / this.nw
        const hr = ch / this.nh
        return {
          l: r.l / wr, t: r.t / hr,
          w: r.w / wr, h: r.h / hr
        }
      },
      updatePreview () {
        const rec = this.$refs.box.rec
        const pcw = this.$preContainer.offsetWidth
        const pch = this.$preContainer.offsetHeight
        const wr = pcw / rec.w
        const hr = pch / rec.h
        const w = wr * this.$imgContainer.offsetWidth
        const h = hr * this.$imgContainer.offsetHeight
        const l = -rec.l * wr
        const t = -rec.t * hr
        this.$resImg.setAttribute('style',
          `width:${w}px;height:${h}px;top:${t}px;left:${l}px;`)
        this.croppedImg.w = w
        this.croppedImg.h = h
        this.croppedImg.t = t
        this.croppedImg.l = l
      },
      clip () {
        let rec = this.$refs.box.rec
        if (!rec.w || !rec.h) {
          return
        }
        const bufferCanvas = document.createElement('canvas')
        const bfx = bufferCanvas.getContext('2d')
        const computedRec = this.getComputedRec(rec)
        let width =  computedRec.w
        let height =  computedRec.h
        if(this.size){
          bufferCanvas.width = this.size.width
          bufferCanvas.height = this.size.height
          bfx.drawImage(this.$srcImg, this.croppedImg.l, this.croppedImg.t, this.croppedImg.w, this.croppedImg.h)
        }else{
          bufferCanvas.width = computedRec.w
          bufferCanvas.height = computedRec.h
          bfx.drawImage(this.$srcImg, -computedRec.l, -computedRec.t, this.nw, this.nh)          
        }
        this.clipData = bufferCanvas.toDataURL('image/jpeg', 1)
      }
    }
  }
</script>

<style scoped>

  .img-clip-wrap {
    width: 500px;
    height: 340px;
    float: left;
    overflow-y: auto;
  }

  .container-bg {
    width: 480px;
    height: 300px;
    background-color: #000;
    border-radius: 0;
    float:left;
  }

  .img-container {
    position: relative;
    height: 0;
    margin: auto;
  }

  .img-container img {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .reset-img {
    position: relative;
    display: inline-block;
    color: #6d757a;
    font-size: 12px;
    cursor: pointer;
  }

  .reset-img #file_input {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  .img-preview-wrap {
    width: 240px;
    float: right;
  }

  .pre-container-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    border: 2px solid #d1d1d1;
    opacity: .97;
  }

  .pre-container {
    width: 154px;
    height: 154px;
    background: #fff;
    overflow: hidden;
  }

  .pre-container img {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .pre-info {
    margin-top: 20px;
    font-size: 12px;
    color: #99a2aa;
  }

  .clearfix:before, .clearfix:after {
    content: ' ';
    display: table;
  }

  .clearfix:after {
    clear: both;
  }


  .img-container .shadow-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
  }

  footer, main {
    display: block;
  }
  footer {
    clear: both;
  }
</style>
