<template>
<v-layout row justify-center>
    <v-dialog v-model="dialog">
        <v-card>
            <v-card-row>
                <v-card-title>{{ title }}</v-card-title>
            </v-card-row>
            <v-card-row>
                <v-card-text v-html="text"></v-card-text>
            </v-card-row>
            <v-card-row actions>
                <v-btn class="red--text darken-3" flat="flat" @click.native="dialog = false">ОК</v-btn>
            </v-card-row>
        </v-card>
    </v-dialog>
</v-layout>
</template>


<script>
import {EventBus} from '../bus'

export default {
    name: 'dialog',
    data () {
        return {
            dialog: false,
            title: '',
            text: '',
        }
    },
    created () {
        EventBus.$on('global:dialog', this.showDialog)
    },
    beforeDestroy () {
        EventBus.$off('global:dialog', this.showDialog)
    },
    methods: {
        showDialog ({title="Внимание!", text=""}) {
            this.dialog = true
            this.title = title
            this.text = text
        }
    }
}
</script>