<template lang="pug">
  .account__password-form
    md-whiteframe(md-elevation="10")
      form.form(novalidate @submit.prevent="submit")
        h4.h4.form__heading Смена пароля
        md-layout(md-row-xsmall, :md-gutter="16")

        md-input-container(md-has-password :class="{'md-input-invalid': errors.has('password')}" class="md-has-count")
          label Пароль
          md-input(v-model.trim="credentials.password" required maxlength="50" type="password" v-validate="'required|min:5'" data-vv-name="password" data-vv-delay="200" data-vv-as="пароль")
          .md-error(v-show="errors.has('password')", :title="errors.first('password')") {{ errors.first('password') }}

        md-input-container(md-has-password :class="{'md-input-invalid': errors.has('password_confirm')}" class="md-has-count")
          label Повторите пароль
          md-input(v-model.trim="credentials.password_confirm" required maxlength="50" type="password" v-validate="'required|min:5'" data-vv-name="password_confirm" data-vv-delay="200" data-vv-as="повторение пароля")
          .md-error(v-show="errors.has('password_confirm')", :title="errors.first('password_confirm')") {{ errors.first('password_confirm') }}

        md-layout.form__bottom(md-align="end")
          md-layout(md-flex="none")
            md-button.md-raised.md-warn(@click.native.prevent="submit", :disabled="submitting") Изменить
</template>

<script>
  import { mdAlert } from '../../../../utils/alert'

  export default {
    name: 'account-password-form',
    data () {
      return {
        credentials: {
          password: null,
          password_confirm: null
        },
        submitting: false
      }
    },
    methods: {
      submit () {
        let self = this
        if (this.submitting) return false

        this.submitting = true

        this.$validator.validateAll().then((result) => {
          if (result) {
            self.$store.dispatch('my/passwordChange', {
              ...self.credentials
            }).then(() => {
              this.credentials = {
                password: null,
                password_confirm: null
              }
              mdAlert('Изменение пароля', 'Ваш пароль успешно изменен.')
            }).finally(() => {
              this.submitting = false
            })
          }
        }).catch(() => {
          this.submitting = false
        })
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .account__password-form
    width 100%
    max-width 800px
</style>
