<template lang="pug">
  .account__personal-form
    md-whiteframe(md-elevation="10")
      form.form(novalidate @submit.prevent="submit")
        h4.h4.form__heading Персональные данные

        md-input-container(:class="{'md-input-invalid': errors.has('first_name')}" class="md-has-count")
          label Имя
          md-input(v-model.trim="credentials.first_name" required maxlength="30" v-validate="'required'" data-vv-name="first_name" data-vv-delay="200" data-vv-as="имя")
          .md-error(v-show="errors.has('first_name')", :title="errors.first('first_name')") {{ errors.first('first_name') }}

        md-input-container(:class="{'md-input-invalid': errors.has('middle_name')}" class="md-has-count")
          label Отчество (если есть)
          md-input(v-model.trim="credentials.middle_name" maxlength="30")
          .md-error(v-show="errors.has('middle_name')", :title="errors.first('middle_name')") {{ errors.first('middle_name') }}

        md-input-container(:class="{'md-input-invalid': errors.has('last_name')}" class="md-has-count")
          label Фамилия
          md-input(v-model.trim="credentials.last_name" required maxlength="30" v-validate="'required'" data-vv-name="last_name" data-vv-delay="200" data-vv-as="фамилия")
          .md-error(v-show="errors.has('last_name')", :title="errors.first('last_name')") {{ errors.first('last_name') }}

        md-input-container(:class="{'md-input-invalid': errors.has('phone_number')}" class="md-has-count")
          md-icon phone
          span.input-prepend +7
          label Телефон
          md-input(v-model.trim="credentials.phone_number" required maxlength="10" type="tel" v-validate="'required|digits:10'" data-vv-name="phone_number" data-vv-delay="200" data-vv-as="телефон")
          .md-error(v-show="errors.has('phone_number')", :title="errors.first('phone_number')") {{ errors.first('phone_number') }}
          .md-hint Только цифры

        md-input-container(:class="{'md-input-invalid': errors.has('email')}" class="md-has-count")
          md-icon email
          label E-mail
          md-input(v-model.trim="credentials.email" required maxlength="254" type="email" v-validate="'required|email'" data-vv-name="email" data-vv-delay="200" data-vv-as="e-mail")
          .md-error(v-show="errors.has('email')", :title="errors.first('email')") {{ errors.first('email') }}

        md-layout.form__bottom(md-align="end")
          md-layout(md-flex="none")
            md-button.md-raised.md-warn(@click.native.prevent="submit") Сохранить
</template>

<script>
  import { mdAlert } from '../../../../utils/alert'

  let newCredentials = () => {
    return {
      email: null,
      first_name: null,
      middle_name: null,
      last_name: null,
      phone_number: null
    }
  }

  export default {
    name: 'account-personal-form',
    data () {
      return {
        credentials: newCredentials(),
        submitting: false
      }
    },
    created () {
      let self = this
      this.$store.dispatch('user/profile').then(() => {
        self.credentials = self.$store.state.user ? {
          email: self.$store.state.user.email,
          first_name: self.$store.state.user.first_name,
          last_name: self.$store.state.user.last_name,
          phone: self.$store.state.user.phone
        } : newCredentials()
      })
    },
    methods: {
      submit () {
        let self = this
        if (this.submitting) return false

        this.submitting = true

        this.$validator.validateAll().then((result) => {
          if (result) {
            self.$store.dispatch('user/update_profile', {
              ...self.credentials
            }).then(() => {
              mdAlert('Изменение персональных данных', 'Ваши данные успешно сохранены.')
            }).finally(() => {
              this.submitting = false
            })
          }
        }).catch(() => {
          this.submitting = false
        })
      }
    }
  }
</script>

<style lang="stylus" scoped>
  @require '../../../../styles/vars.styl'

  .account__personal-form
    width 100%
    max-width 800px
    margin-bottom $doubleGutter
</style>
