<template lang="pug">
  .account__questionary-form(v-if="showForm")
    md-whiteframe(md-elevation="10")
      form.form(novalidate @submit.prevent="submit")
        h4.h4.form__heading Анкета

        .form__row.md-input-required
          label Пол
          md-radio(v-model="credentials.gender" id="gender_female" name="gender" md-value="female" class="md-primary") Женский
          md-radio(v-model="credentials.gender" id="gender_male" name="gender" md-value="male" class="md-primary") Мужской

        .form__row.md-input-required
          label Дата рождения
          datepicker(:value="credentials.birth_date" name="birth_date" format="dd/MM/yyyy")

        md-input-container(:class="{'md-input-invalid': errors.has('birth_place')}")
          label Место рождения
          md-input(v-model.trim="credentials.birth_place" required v-validate="'required'" data-vv-name="birth_place" data-vv-delay="200" data-vv-as="место рождения")
          .md-error(v-show="errors.has('birth_place')", :title="errors.first('birth_place')") {{ errors.first('birth_place') }}

        md-input-container(:class="{'md-input-invalid': errors.has('birth_place')}")
          label Гражданство
            md-select(v-model="credentials.citizenship" required v-validate="'required'" data-vv-name="citizenship" data-vv-delay="200" data-vv-as="гражданство")
            md-option(:value="citizenship.id" v-for="citizenship in citizenship_choices")
          .md-error(v-show="errors.has('citizenship')", :title="errors.first('citizenship')") {{ errors.first('citizenship') }}

        md-layout.form__bottom(md-align="end")
          md-layout(md-flex="none")
            md-button.md-raised.md-warn(@click.native.prevent="submit") Сохранить
</template>

<script>
  import Datepicker from 'vuejs-datepicker'
  import * as _ from 'lodash'
  import { mapGetters } from 'vuex'

  import { mdAlert } from '../../../../utils/alert'

  export default {
    name: 'account-questionary-form',
    components: {
      datepicker: Datepicker
    },
    data () {
      return {
        credentials: {},
        showForm: false,
        submitting: false
      }
    },

    computed: {
      ...mapGetters(['isUser'])
    },

    methods: {
      submit () {}
    }
  }
</script>

<style lang="stylus" scoped>
  .account__questionary-form
    width 100%
    max-width 1200px
</style>
