<template lang="pug">
  nav.sidebar.no-sel(:class="{expanded: $store.state.sidebarExpanded}")
    .sidebar__menu

      router-link.sidebar__item(:to="{ name: 'account.dashboard' }")
        md-icon dashboard
        span.caption Панель управления

      router-link.sidebar__item(:to="{ name: 'account.settings' }")
        md-icon settings
        span.caption Настройки аккаунта

      router-link.sidebar__item(:to="{ name: 'account.candidates' }", v-if="isStaff")
        md-icon account_circle
        span.caption Кандидаты

      span.sidebar__item(@click="toggle()")
        md-icon {{ $store.state.sidebarExpanded ? 'first_page' : 'last_page' }}
        span.caption {{ $store.state.sidebarExpanded ? 'Свернуть' : 'Разернуть' }}
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'sidebar',
    methods: {
      toggle () {
        this.$store.commit('SET_SIDEBAR_EXPANDED', !this.$store.state.sidebarExpanded, {root: true})
      }
    }
  }
</script>

<style lang="stylus" scoped>
  @require '../styles/vars.styl'
  $host = '.sidebar'

  {$host}
    background-color $grey900
    color $white
    position fixed
    top $headerHeight
    left 0
    bottom 0
    width $sidebarCollapsedWidth
    text-align left
    font-size 16px
    transition width $speedNormal ease
    overflow hidden

    &__item
      display block
      cursor pointer
      padding 0 $doubleGutter
      color $white !important
      height 50px
      line-height 50px
      transition background $speedNormal ease
      white-space nowrap

      .md-icon
      .caption
        text-decoration none
        line-height 24px
        display inline-block

      .caption
        opacity 0
        visibility hidden
        pointer-events none
        padding-left 4px
        transition opacity $speedNormal ease, visibility $speedNormal ease

      &:hover
      &:focus
        background $grey800

        .caption
          text-decoration none

      .md-icon
        color $white !important

      &.router-link-active
        color $deepOrange400 !important
        background $grey700

        .md-icon
          color $deepOrange400 !important

    &.expanded
      width $sidebarExpandedWidth

      {$host}__item
        text-decoration none

        .caption
          opacity 1
          visibility visible
          pointer-events auto
</style>
