<template lang="pug">
  md-layout.footer.footer-public
    .footer-text &copy; Crazyfatburn 2017. Все права защищены.
</template>

<script>
  export default {
    name: 'footer-public'
  }
</script>

<style lang="stylus" scoped>
  .footer-public
    background-color #fff
    position absolute
    bottom 0
    left 0
</style>
