<template lang="pug">
  header.header.header-public
    md-layout(md-row)
      md-layout(md-flex="none")
        router-link.logo(:to="{ name: 'homepage'}")
      md-layout(md-flex="grow" md-align="end")
        md-layout.header-public__auth(md-flex="none")
          ul(v-if="isAuthenticated")
            li.header__account-link
              router-link.link(:to="{ name: 'account.settings' }") {{ currentUserName }}
            li
              span.link(@click="logout") Выйти
          ul(v-else="!isAuthenticated")
            li
              router-link.link(:to="{ name: 'auth.login', query: {next: $route.fullPath} }") Войти
            li
              router-link.link(:to="{ name: 'auth.register', query: {next: $route.fullPath} }") Регистрация
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'header-public',
    computed: {
      ...mapGetters(['isAuthenticated', 'currentUserName'])
    },
    methods: {
      logout () {
        this.$store.dispatch('auth/rejectAuth')
      }
    }
  }
</script>

<style lang="stylus">
  @require '../../styles/vars.styl'
  @require '../../styles/components/header.styl'
  $host = '.header-public'

  &{$host}__auth
    text-align right

    ul
      li
        overflow hidden
        color $red400
        display inline-block
        margin 0 0 0 $doubleGutter !important

      &:first-child
        marginleft 0

      .header__account-link
        max-width 150px
        white-space nowrap
        text-overflow ellipsis
</style>
