.md-flex
  &-grow
  &-none
    -ms-flex-wrap wrap
    flex-wrap inherit

  &-grow
    -webkit-box-flex
    -webkit-flex 1 1 100%
    flex 1 1 100%

  &-none
    -webkit-box-flex 0
    -webkit-flex 0 0 auto
    flex 0 0 auto

.md-row
  -webkit-box-orient horizontal
  -webkit-box-direction normal
  flex-wrap nowrap !important

.md-align
  &-center
    align-items center
    justify-content center
