@require '../vars.styl'

.md-input-container
  .md-toggle-password
    .md-icon:not(.md-icon-delete)
      &:after
        display none

  .md-hint
    height 20px
    position absolute
    bottom -22px
    font-size 12px
    display block !important
    left 0
    opacity 1
    color $grey400
    transform translateZ(0)
    transition all $speedNormal cubic-bezier(.55, 0, .55, .2)

  &.md-input-invalid
    .md-hint
      opacity 0
      transform translate3d(0, -8px, 0)

  &.md-has-count
    .md-error
    .md-hint
      padding-right 45px

  .md-icon+.input-prepend
    &~
      &label
        left 55px !important
      &.md-file
      &.md-input
      &.md-textarea
        margin-left 0 !important



.md-error
.md-hint
  color $red
  right 0
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
