<template lang="pug">
  layout-account(class="layout-account")
    .wrapper.account-wrapper
      router-view
</template>

<script>
  import { requiresAuthMixin } from '../../mixins/guards'

  export default {
    name: 'account',
    mixins: [requiresAuthMixin],
    metaInfo: {
      title: 'Личный кабинет'
    },

    created () {
      if (this.$router.currentRoute.name === 'account') {
        this.$router.push({ name: 'account.dashboard' })
      }
    }
  }
</script>

<style lang="stylus">
  @require '../../styles/vars.styl'

  .account-wrapper
    margin-left $sidebarCollapsedWidth
    padding $doubleGutter
    transition margin-left $speedNormal ease

    &.expanded
      margin-left $sidebarExpandedWidth

    .page-heading
      color $grey800

      .md-icon
        margin -2px 4px 0 0
</style>
