<template lang="pug">
  .account-content
    h3.h3.page-heading
      md-icon dashboard
      | Панель управления
    md-button.md-raised.md-warn(@click.native="$router.push({ name: 'account.settings' })") Изменить личные данные
</template>

<script>
  import { requiresAuthMixin } from '../../mixins/guards'

  export default {
    name: 'account-dashboard',
    mixins: [requiresAuthMixin],
    metaInfo: {
      title: 'Панель управления'
    }
  }
</script>
