{%- extends 'emails/_layouts/customer.html' -%}

{%- block EMAIL_BODY -%}
<p>
    Уважаемый {{ user.name }}!
    С сайта {{ site_name() }} отправлен запрос на восстановление пароля.
    Вы можете перейти по ссылке для доступа к форме смены пароля.
</p>
<p>
    Если вы не отправляли запрос на восстановление пароля,
    то просим удалить данное письмо.
</p>
<p>
    Ваша ссылка для восстановления: {{ url|e }}<br/>
    Либо нажмите на эту кнопку: <br/>
</p>
<p style="text-align:center">
    <button href="{{ url|e }}" style="display:inline-block;background:#FF7D3A;color:#ffffff;font-size:18px;">Отправить запрос</button>
</p>
{%- endblock -%}
