{%- extends 'emails/_layouts/customer.html' -%}

{%- block EMAIL_BODY -%}
<p>
    Уважаемый {{ user.first_name|e }} {{ user.middle_name|e }}! Вы успешно зарегистрировались на сайтe {{ site_name() }}.
</p>
<p>
    Ваш данные при регистрации:<br/>
    Логин: {{ user.username|e }}<br/>
    Пароль: {{ raw_password|e }}<br/>
</p>
{%- endblock -%}
