@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&subset=cyrillic,cyrillic-ext')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')

@require 'config.styl'
@require 'vars.styl'
@require 'mixins.styl'

html
body
  height 100%
  min-width 320px
  width 100%

body
  font 14px/20px Roboto, sans-serif
  font-weight 400

  &, *
    margin 0
    padding 0
    box-sizing border-box !important

h1
h2
h3
h4
h5
.h1
.h2
.h3
.h4
.h5
  font-weight 300
  line-height 1.333em
  margin 0.5em 0 1.5em

h1
.h1
  font-size 36px

h2
.h2
  font-size 30px

h3
.h3
  font-size 24px

h4
.h4
  font-size 20px

h5
.h5
  font-size 16px

ul
ol
li
  list-style none

.link
  cursor pointer
  color $red400 !important
  text-decoration none
  transition color $speedNormal ease

  &:hover
    color $red800 !important
    text-decoration underline !important

.no-sel
  noSel()

.container
  max-width 1200px
  padding 0 $gutter
  margin-left auto
  margin-right auto

  @media (max-width: 1200px)
    max-width 1200px

@require 'transitions/*'

@import 'material-design/*'
@import 'components/*'
